{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>BMI</th>
            <th>Physique</th>
        </tr>
        {% for wegan in wegans %}
            <tr>
                <td>{{ wegan.name }}</td>
                <td>{{ wegan.weight }}</td>
                <td>{{ wegan.height }}</td>
                <td>{{ wegan.body_mass_index }}</td>
                <td>{{ wegan.physique }}</td>
                <td><a href="{{ wegan.id }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}